.main{
    padding-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: inline-block;
}
.wrapper{
    text-align: center;
}
.button{
    margin-top: 20px;
    font-size: x-large;
    display: inline-block;
    text-align: center;
    font-size: medium;
    border: 2px solid black;
    border-radius: 4px;
}
input[type=text]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25 px;
    height: 30px;
    width: 140px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 5pt;
    padding-right: 5pt;

}
input[type=password]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25 px;
    height: 30px;
    width: 140px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 5pt;
    padding-right: 5pt;

}
table {
    border: 2px solid black;
}
.logout{
    float: right;
}
.back{
    float: left;
}
input[type=file]{
    margin-top: 20px;
    font-size: x-large;
    display: inline-block;
    text-align: center;
    font-size: medium;
    border: 2px solid black;
    border-radius: 4px;
}
input[type=submit]{
    margin-top: 20px;
    font-size: x-large;
    display: inline-block;
    text-align: center;
    font-size: medium;
    border: 2px solid black;
    border-radius: 4px;
}